@import 'tailwindcss';

@font-face {
	font-family: 'Gochi Hand';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/gochi-hand.ttf') format('truetype');
}

@theme {
	--color-bg: #020202;
	--color-text: #ffffff;
	--color-text-secondary: #a2a2a2;
	--color-text-inactive: #757575;
	--color-surface: #333333;
	--color-border: #3f3f3f;

	--font-sans: 'Inter', sans-serif;
	--font-accent: 'Gochi Hand', cursive;
}

body {
	background: radial-gradient(
			50.46% 119.63% at 17.86% 2.9%,
			rgba(96, 54, 16, 0.08),
			rgba(0, 0, 0, 0.2)
		)
		var(--color-bg);
	color: var(--color-text);
}
